[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apistar = "*"
whitenoise = "*"
aiofiles = "*"

[dev-packages]
neovim = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
